@{
    ViewData["Title"] = "BemVindo";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}
<link rel="stylesheet" href="~/css/BemVindo.css" />
<div class="container">
   
    <div id="Menu">
        <h1>Bem vindo<span id="SpanUser"> @User.Identity.Name, </span>ao sistema de controle de Academia</h1>
        <h2>Academia Os Fortes</h2>
        <img src="~/img/Academia.jpg" width="300px"/>
    </div>

</div>