@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/PaginaHome.css" asp-append-version="true" />


<div class=" text-center minha-div">
    <h1 class="animate__animated animate__zoomInDown" id="LogoHome">Academia Os Fortes</h1>
</div>
