@model AcademiaAppication.Models.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .colorDiv{
        color: red;
    }
   
</style>

<h1>Recuperar Senha</h1>


<div class="login-container">
    <form asp-action="ForgotPassword" asp-controller="Account" method="post" class="login-form">
        
        <div class="col-md-6">
            <label asp-for="Email" class="control-label label-form"></label>
            <input asp-for="Email" class="form-control" placeholder="Digite o email para recuperação" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-3 mt-2">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
     <div asp-validation-summary="All" class="colorDiv"></div>
    </form>
</div>

