@model AcademiaAppication.Models.Account.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style >
    colorDiv
    {
        color:red;
    }

    .login-container{
        border:none;
    }

</style>

<h1>ResetPassword</h1>

<div class="login-container">
    <form asp-action="ResetPassword" asp-controller="Account" method="post" class="">
       
        <div class="col-md-6">
            <label asp-for="Password" class="control-label label-form"></label>
            <input asp-for="Password" class="form-control" placeholder="Digite Nova Senha" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="PasswordConfirmed" class="control-label label-form"></label>
            <input asp-for="PasswordConfirmed" class="form-control" placeholder="Confirma  a senha" />
            <span asp-validation-for="PasswordConfirmed" class="text-danger"></span>
        </div>
        <div class="col-md-6">
           
            <input asp-for="Token" type="hidden" />
            <input asp-for="Email" type="hidden" />
           
        </div>
        <div class="col-md-3 mt-2">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div> 
        <div asp-validation-summary="All" class="colorDiv"></div>
    </form>
</div>
